$primaryColor: #31b0d5;
$fontFamily: Arial, Helvetica, sans-serif; 
$backgroundColor: #FFFFFF;
$articleColor: #efefef;
$borderColor: #617d8a;
$dateColor: #159587;
$articleHeading: #1697a6;
$textColor: $borderColor;
$headingColor: $primaryColor;