$primaryColor:#fc5830; 
$fontFamily: 'Times New Roman', Times, serif;
$backgroundColor: #efefef;
$articleColor: #FFFFFF;
$borderColor: #cfd8dc;
$dateColor: $backgroundColor;
$articleHeading: #617d8a;
$textColor: #757575;
$headingColor: $primaryColor;